<!DOCTYPE html><html>
<head>
  <title> YES WE BILL COMPANY
  </title><%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %><%= javascript_include_tag 'application', 'data-turbolinks-track' => true %><%= csrf_meta_tags %>

</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "YES WE BILL COMPANY", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to "Add Invoice", invoices_path, :class => "btn"  %>
          </li>
          <li>
            <%= link_to "Add Hours", add_hours_path %>
          </li>
          <li>
            <%= link_to "Invoice", invoices_path %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
