<p id="notice"><%= notice %></p>

<h1>Add Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <div class="container">
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.company %></td>

        <td><%= link_to 'Show', client, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_client_path(client), class: 'btn btn btn-default btn-xs' %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: ' btn btn-default btn-xs' %></td>

      </tr>
    <% end %>
  </div>
  </tbody>
</table>


<br>


<%= link_to new_client_path, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New client
<% end %>
