<p id="notice"><%= notice %></p>

<h1>My Bill</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Client</th>
      <th>Hourly wage</th>
      <th>Nhour</th>
      <th>Paid</th>
      <th>Bill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_hours.each do |add_hour| %>
      <tr>
        <td><%= add_hour.name %></td>
        <td><%= add_hour.email %></td>
        <td><%= add_hour.client %></td>
        <td><%= add_hour.Hourly_Wage %></td>
        <td><%= add_hour.NHour %></td>
        <td><%= add_hour.Paid %></td>
        <td><%= add_hour.NHour * add_hour.Hourly_Wage %></td>
        <td><%= link_to 'Show', add_hour %></td>
        <td><%= link_to 'Edit', edit_add_hour_path(add_hour) %></td>
        <td><%= link_to 'Destroy', add_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Invoice', new_add_hour_path %>
<br>
<p> Total bill: <% sum=0
@add_hours.each do |s|
  if s.Paid
    sum = sum + s.NHour*s.Hourly_Wage
  end
end %>
<%= sum %></p>
