<html>
<head>
<title></title>
<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>
<body>
<header class="navbar navbar-toggleable-md navbar-inverse bg-faded">

<nav>
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

  <!-- intestazione -->
 <a class="navbar-brand" href="#">YWB COMPANY</a>
 <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <!-- home-->
    <ul class="nav navbar-nav ">
      <li>
        <%= link_to "HOME", root_path%>
      </li>
    </ul>

    <!-- login-->
    <ul class="nav navbar-nav navbar-right">
      <li>
          <%= link_to "LOGIN", login_path %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
          <%= link_to "ADD_BILL", hours_path%>
      </li>
    </ul>
  </ul>
<!-- bottone-->

</div>
</nav>
</header>
<div class="container">
<%= yield %>

</div>
</body>
