<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @invoice.hours %>
</p>

<p>
  <strong>Hourly wage:</strong>
  <%= @invoice.hourly_wage %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
