<p id="notice"><%= notice %></p>

<h1>ADD HOUR TO BILL</h1>

  <div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name user</th>
      <th>Email</th>
      <th>Hourly wage</th>
      <th>N hour</th>
      <th colspan="4"></th>
    </tr>
  </thead>



  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.name_user %></td>
        <td><%= hour.email %></td>
        <td><%= hour.hourly_wage %></td>
        <td><%= hour.n_hour %></td>
        <td><%= link_to 'Show', hour %></td>
        <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
        <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Bill', invoices_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'ADD HOUR', new_hour_path, :class=>"btn btn-large btn-success pull-left" %>
