<p id="notice"><%= notice %></p>

<p>
  <strong>Name user:</strong>
  <%= @hour.name_user %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hour.email %>
</p>

<p>
  <strong>Hourly wage:</strong>
  <%= @hour.hourly_wage %>
</p>

<p>
  <strong>N hour:</strong>
  <%= @hour.n_hour %>
</p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
